@page
@model HiNetCoreDemo.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h2>学生列表</h2>
<hr />
<h2>@TempData["Message"]</h2>

<form method="post">
    条件：<input type="text" name="SearchString" value="@TempData["CurrentFilter"]" />
    <input type="submit" asp-page-handler="Filter" /> |
    <a asp-page="Create">新增</a>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-sortOrder="@TempData["IdSortParm"]" asp-route-currentFilter="@TempData["CurrentFilter"]">
                    @Html.DisplayNameFor(m => m.Students[0].StId)
                </a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="@TempData["NameSortParm"]" asp-route-currentFilter="@TempData["CurrentFilter"]">
                    @Html.DisplayNameFor(m => m.Students[0].StName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Students[0].StTitle)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Students[0].Subjects)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tboy>
        @foreach (var mod in Model.Students)
        {
            <tr>
                <td>@mod.StId</td>
                <td>@mod.StName</td>
                <td>@mod.StTitle</td>
                <td>
                    @if (mod.Subjects != null)
                    {
                        @foreach (var sub in mod.Subjects)
                        {
                            @string.Join("：", sub.SubTitle, sub.SubSource) <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@mod.Id">编辑</a> | 
                    <a asp-page="Detail" asp-route-id="@mod.Id">详情</a> | 
                    <a asp-page="Delete" asp-route-id="@mod.Id">删除</a>
                </td>
            </tr>
        }
    </tboy>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.Students.HasPreViousPage)
        {
            <li>
                <a aria-label="Previous" asp-page="Index" asp-route-sortOrder="@TempData["CurrentSort"]" asp-route-currentFilter="@TempData["CurrentFilter"]" asp-route-currentPageIndex="@(Model.Students.PageIndex - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        }
        @for (int pi = 1; pi <= Model.Students.TotalPages; pi++)
        {
            if (pi == Model.Students.PageIndex)
            {
                <li class="active">
                    <span>@pi <span class="sr-only">(current)</span></span>
                </li>

            }
            else
            {
                <li>
                    <a asp-page="Index" asp-route-sortOrder="@TempData["CurrentSort"]" asp-route-currentFilter="@TempData["CurrentFilter"]" asp-route-currentPageIndex="@pi">
                        @pi
                    </a>
                </li>
            }
        }
        @if (Model.Students.HasNextPage)
        {
            <li>
                <a aria-label="Next" asp-page="Index" asp-route-sortOrder="@TempData["CurrentSort"]" asp-route-currentFilter="@TempData["CurrentFilter"]" asp-route-currentPageIndex="@(Model.Students.PageIndex + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        }
    </ul>
</nav>